<a href="https://colab.research.google.com/github/mori-mkm/Curso-Coleta-Armazenamento-Dados/blob/main/Aula_02_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <center>Introdução à Lógica de Programação</center>
###  <center>Coleta e armazenamento de dados usando API e Web Scraping</center>
---
## <center>Aula 1. Conceitos básicos, listas, dicionarios e pandas</center>
##### <center>Instrutor: <a href="https://www.linkedin.com/in/matheus-mori/" target="_blank">Matheus Mori</a></center>

#### Python é uma linguagem interpretada, ao contrário das linguagens compiladas, não é necessário traduzir as instruções para código de máquina (1s e 0s).

#### Para poder executar o código escrito em python é necessário passar as instruções para um intérprete. Nos nossos cursos usaremos um ambiente de programação chamado **Google Colab**, um aplicativo da web que é executado localmente, onde o texto (como este!) pode ser apresentado e que oferece a possibilidade de executar código.

#### O formato de entrada para o nosso código é uma célula e para executar as instruções que digitamos basta pressionar `Shift`+`Enter` enquanto estivermos na célula.

### A função `print()`

#### Para ver os valores que uma expressão ou alguma variável assume, vamos usar a função print dando como argumento um tipo de dado string.

In [ ]:
print('Olá, mundo!')

### Tipos e estrutura de dados: inteiros (em python `int`), reais (`float`) e complexos (`complex`).

#### A seguir, apresentamos tipos `type` de dados numéricos e algumas operações de exemplo.

In [ ]:
print('O número 3 é:', type(3))

print('O número 3.14 é:', type(3.14159))

print('O número 3+2j é:', type(complex(3 + 2j)))

### Algumas operações numéricas de caráter aritméticos podem ser:

#### Adição de dois inteiros.

In [ ]:
print(45 + 55)

#### Subtração.

In [ ]:
print(50 - 100)

#### Divisão.

In [ ]:
print(6 / 12)

#### Divisão inteira.

In [ ]:
print(6 // 12)

#### Multiplicação.

In [ ]:
print(3 * 5)

#### Potenciação.

In [ ]:
print(3 ** 5)

#### Para poder atribuir números ou resultados de operações a variáveis, o operador `=` é usado, o nome da variável deve começar com uma letra, e certos caracteres não podem ser usados para defini-las, como acentos ou espaços (invisíveis) dentro do nome.

#### Nota:

#### Podemos ver que a primeira linha do exemplo a seguir...

```python

# atribuímos o valor 4 à variável num_1

```

#### ...é um comentário. Os comentários são úteis no sentido de que nos permitem fazer anotações no local em que uma tarefa é executada dentro do programa.


#### Os comentários não são levados em conta como uma instrução, isso significa que o interpretador de python não os executa, como consequência eles só têm utilidade para as pessoas que veem as instruções.


#### Para escrever um comentário, o símbolo numérico `#` deve ser preceder o texto e o texto deve ser de uma só linha.

In [ ]:
# atribuímos o valor 4 à variável num_1
num_1 = 4

# atribuímos o valor 23 à variável num_2
num_2 = 23

# atribuímos o resultado de elevar num_1 à num_2
resultado_potenciação = num_1 ** num_2

# mostramos resultado
print(resultado_potenciação)

70368744177664

#### Neste último exemplo podemos observar que, uma vez que atribuímos as magnitudes numéricas às variáveis, podemos operar com essas variáveis como se fossem um número.

#### Como poderíamos encontrar a raiz quadrada de `num1` (4), utilizando a operação de potenciação? Escreva-o em linguagem python na próxima célula e use print para mostrar o resultado:

In [ ]:
num1 = 4

### Tipos e estrutura de dados: Texto `str`.

#### O tipo de dado de texto é chamado de `string` em python. Pode ser enunciado colocando um conjunto de caracteres entre aspas (duplas ou simples). Durante o curso, vamos trabalhar com várias operações sobre esses dados orientados à sua matematização.

#### As strings são iteráveis (podem ser acessadas por partes), cada caractere tem uma posição que pode ser acessada através de um índice.

### Índice:

#### Os índices são valores inteiros que, no texto, indicam a posição de um caractere dentro da string. São enunciados colocando o valor inteiro entre colchetes [] depois da string ou de uma variável que o represente. Os índices são contados a partir de zero.

In [ ]:
# Definimos uma variável de tipo string.
text = 'Python3'

# Acessamos a primeira e última posição dessa string.
print(text[0], text[-1])

P 3

#### A função `print()` pode usar vários argumentos, entre eles, estão os elementos que serão impressos na saída padrão. No último caso, imprimimos o primeiro e o último elemento da `string` text.

### Sobre os índices negativos.

#### Quando um índice é negativo, aponta para um elemento do final, isto é, o [-1] se torna o último elemento, o índice [-2] o penúltimo e assim por diante até o primeiro elemento do iterável.

#### A seguir, um exemplo:

In [ ]:
# Definimos uma variável do tipo string.
text = 'Python3'

# Acessamos o elemento 4 (Pyth(o)n3) a partir de índices positivos e negativos.
print(text[4], text[-3])

o o

### Slicing.

#### O slicing permite acessar partes contínuas da string com uma notação parecida com a dos índices. Eles também precisam ser magnitudes inteiras. Para fazer um slicing, os valores do índice devem ser dados entre colchetes, separados por dois pontos.

In [ ]:
# Definimos uma variável do tipo string.
text = 'Python3 ou R?'

# Entre colchetes definimos o primeiro e o último índice do sclicing.
print(text[1:7])

#### O primeiro índice aponta para o primeiro caractere da primeira palavra (incluído no subtexto), enquanto o último caractere aponta para o último caractere da palavra (não incluído no subtexto).

In [ ]:
# Definimos uma variável do tipo string.
text = 'Python3 ou R?'

# Mostramos o elemento 7 do texto, que não é mostrado no slicing anterior.
print(text[7])

#### A seguir, imprimir a palavra central do texto utilizando slicing.

In [ ]:
# Definimos um texto
text_2 = 'É uma string'

# selecionar a palavra central com slicing
text_2[2:5]

### Concatenação.

#### conjuntos de caracteres podem ser concatenados utilizando, como vimos, o operador de soma.

In [ ]:
concatenação = 'Texto de' + "exemplo"
print(concatenação)

#### Podemos observar que a operação:

* Concatena as duas `strings` em uma maior.
* Não adiciona espaço entre operandos.
* Conserva a ordem de esquerda a direita.

#### Como havíamos mencionado, os tipos de dados trazem operações associadas - essas operações são conhecidas como métodos. Os métodos são um conjunto de instruções associadas aos tipos de dados que podem fazer alterações neles ou operações que resultem no retorno de algum resultado em outro tipo de dados.

### Método `.isdigit()`.

#### Este método retorna um tipo de dado booleano (verdadeiro ou falso). É verdadeiro quando a string associada pode ser representada como um inteiro e falso, caso contrário. Este método pode servir para decidir se uma string pode ser transformada em um número inteiro.

In [ ]:
inteiro = '231' 
inteiro.isdigit()

#### Como podemos ver, a chamada para os métodos é precedida por dois parênteses. A razão será comentada mais à frente, em definição de funções.

In [ ]:
no_inteiro = '3.14'
no_inteiro.isdigit()

### Método `.split()`.

#### Esse método associado a `strings` serve para separar um texto em subtextos menores. O resultado da separação é retornado em uma lista.

In [ ]:
# Fazemos um chamado ao split diretamente de uma string
lista = 'um dois três quatro'.split()
lista

In [ ]:
# Guardamos uma string em uma variável
números = 'um dois três quatro'

#separamos o conteúdo da variável com o método split
números.split()

### Proposta prática:  

#### A seguir, veremos parte de um código que, a partir de uma lista de números aleatórios, retorna outra lista com números pares.

In [ ]:
# inicializamos uma lista com números.
lista_números = [2, 3, 1, 8, -2, 3.14259, -1, 0, 6, 7, 9]
# inicializamos uma lista vazia.
lista_pares = []

# percorremos a lista.
for número in lista_números:
    #vemos se o número da lista é par.
    if número % 2 == 0:
        # inserimos no final da lista se for par
        lista_pares.append(número)
        print(número, 'é par')
    elif número < 0:
        print(número, 'negativo e não par')
    
    else:
        print(número, 'não é par nem ímpar negativo')

lista_pares

In [ ]:
print(lista_pares)

### Tipos e estrutura de dados: Listas `list`.

#### As listas são estruturas de dados muito usadas em python. Nelas podemos depositar uma grande quantidade de dados: números, palavras, outras listas, etc.

#### Na nossa proposta prática, podemos ver que trabalhamos com duas listas:

``` python
# inicializamos uma lista com números.
lista_números = [2, 3, 1, 8, -2, 3.14259, -1, 0, 6, 7, 9]
# inicializamos uma lista vazia.
lista_pares = []
```

#### Na primeira lista, decidimos definir seus membros como números. Outros tipos de dados podem estar contidos nas listas. Também podemos ver que para definir uma lista não é necessário ter elementos. Em `lista_pares` por exemplo, você pode ver que ela está vazia.

#### Uma das motivações para gerar listas vazias é a de poder ser preenchida de acordo com os condicionais que definiremos em nossos programas.

### Método `.append()`.

#### Permite adicionar um elemento no final de uma lista. É importante ressaltar que o elemento persiste dentro da lista, uma vez que é adicionado por este método.

In [ ]:
# Inicializamos uma lista vazia.
lista_teste = []

# Imprimimos a lista para ver como é.
print(lista_teste)

In [ ]:
# Agora adicionamos um elemento à lista com append.
lista_teste.append('sou uma string')

# Imprimimos a lista
print(lista_teste)

#### Podemos ver que o que foi adicionado à lista pelo `.append()` foi indicado ao colocar esse elemento entre os parênteses na chamada de método. 

#### O que aparece entre parênteses após a chamada de método é conhecido como argumento e, neste caso, o argumento para o método `.append()`,  é o elemento que será inserido no final da lista.

In [ ]:
# Adicionamos outro elemento à lista.
lista_teste.append(23)

# Mostramos o estado da lista até esse ponto.
lista_teste

#### Ao contrário de outras linguagens, em python, uma lista pode conter, simultaneamente, vários tipos de dados.

### Iteração `for`.

#### O poder dos programas está na capacidade de executar um conjunto de instruções repetidamente ao percorrer uma estrutura ou tipo de dados. Chamamos isso de "iteração". No nosso exemplo podemos ver uma dessas iterações:

```python
for número in lista_números:
```
#### A sintaxe para usar o iterador "for" em nosso exemplo tem basicamente 5 partes:

    1) A chamada para `for`.
    2) A definição de uma variável que representa cada elemento dentro dos membros que percorremos.
    3) A chamada a `in`, que indica o que vamos percorrer.
    4) A estrutura ou dado sobre a qual vamos iterar.
    5) Os dois pontos que indicam que o corpo de instruções começa.

#### A partir daqui, tudo que estiver dentro do ciclo será repetido enquanto a lista estiver sendo percorrida.

```python
# percorremos a lista.
for número in lista_números:
    #vemos se o número da lista é par.
    if número % 2 == 0:
        # inserimos no final da lista se for par
        lista_pares.append(número)
```
#### É importante ressaltar que o uso de espaços tem um significado para o interpretador de python. No nosso exemplo podemos notar que as instruções dentro do for têm pelo menos 4 espaços antes de serem escritas - isso em python é chamado de indentação.

In [ ]:
lista_números = [-9, -8, -7, -6, -5, -4, -3, -2, -1 , 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
lista_pares = []
# percorremos a lista.
for número in lista_números:
    #vemos se o número da lista é par.
    if número % 2 == 0:
        # inserimos no final da lista se for par
        lista_pares.append(número)
print(lista_pares)

### Iteração `while`.

#### A iteração `while` ocorre desde a inicialização de um objeto até o momento em que uma condição é alcançada, nesse momento a ação para ou outra ação passa a ser tomada.

In [ ]:
count = 0
while (count < 3):
    print(count)
    count = count + 1

In [ ]:
count = 1
while (count != 3 ):
    count = count + 1
    print(count ** 2)

### Condicionais if, elif, else.

#### O condicional `if` permite realizar um conjunto de possíveis operações através da formulação de uma pergunta em termos de expressões que possam ser verdadeiras ou falsas. Estas operações são chamadas de operações "booleanas".

#### A seguir, damos alguns exemplos das perguntas que resultam em um booleano:

In [ ]:
# Um número é igual a outro número?
2 == 1

In [ ]:
# Um número é maior do que outro número?
print( 23 > -11 )

In [ ]:
# Um tipo de dado é igual a outro?
#isinstance([1,2,3], list)
#isinstance(1, int)
isinstance(1.0, float)

In [ ]:
# O texto está contido em outro texto?
'dois' in 'tenho um texto aqui'

#### Acabamos de ver algumas expressões cujo resultado é um booleano. Essas expressões podem ser avaliadas por um conjunto de condicionais.

### Condicional `if`.

#### Voltando ao nosso exemplo, vamos selecionar os dados que se encaixam em algumas propriedades que pedimos. Para isso, usamos o condicional `if`. Esse condicional nos permite tomar uma decisão com relação a uma condição dentro do programa, e pode ser enunciado dessa forma:

```python
if número % 2 == 0:
    # inserimos no final da lista se for par
    lista_pares.append(número)
    
elif número < 0:
        print(número, 'negativo e não par')
    
else:
    print(número, 'não é par nem ímpar negativo')

```
#### A sintaxe para o `if` possui três partes:
           
    1) A chamada ao `if`.
    2) Uma condição (que pode ser verdadeira ou falsa).
    3) Os dois pontos que indicam que o corpo de instruções começa.

#### A condição pode assumir várias formas dependendo do que procuramos. No nosso programa, perguntamos: 

    A variável número: deixa um resto depois de ser dividida pelo número 2?

#### Esta pergunta é feita através de uma sentença no python onde usamos a operação módulo `%` que nos indica se há um resto no quociente de dois números ordenados, e o operador `==` que indica se existe igualdade entre os dois lados.

#### Se a igualdade `==` for verdadeira, a instrução do corpo do `if` é seguida. Se a condição for falsa, as instruções do `if` são ignoradas.

#### Assim como o `for`, o corpo do `if` é definido como as instruções depois dos dois pontos que estão a 4 espaços da chamada ao `if` (indentação). 

### Condicional `elif`.

#### Quando o condicional `if` é avaliado como `False`, é possível avaliar outra condição relacionada com o primeiro `if`. No exemplo, usamos o condicional `elif`, cujo corpo é executado quando o primeiro `if` foi avaliado como `False` e a sentença enunciada depois do **elif** é *True*, ou seja, quando o número não é par (**if** avaliado como `False`) e quando o número é menor do que zero (`elif` avaliado como `True`).

### Condicional `else`.

#### Quando o condicional `if` é avaliado como `False` e não existem condicionais `elif`, ou eles são todos avaliados como `False`, então se executa o corpo do condicional `else`, se este for definido. No exemplo, quando o número não é par (`if` avaliado como `False`) e quando o número não é menor do que zero (único `elif` avaliado como `False`).

#### Exemplo sintético:

```python
if condição_1 :
    'código a executar se a condição_1 for verdadeira'

elif condição_2:
    'código a executar se a condição_1 for falsa e a condição_2 verdadeira'
       
else:
    'código a executar se todas as condições anteriores forem falsas'

```

### Definindo funções: `def`, `return`.

#### As funções são um conjunto de instruções executadas através de um nome ou alias. A ideia da definição de funções é separar o problema a ser resolvido em partes menores.

#### Para definir uma função é preciso seguir, no mínimo, esses passos:
       
    * Realizar uma chamada à instrução `def`
    * Enunciar o nome da função 
    * Escrever parênteses
    * Declarar, se existirem, os argumentos dentro dos parênteses, separados por vírgulas. (opcional)
    * Escrever dois pontos.
    * Escrever o corpo da função.
    * Retornar um resultado com return (opcional).
       
#### A seguir, um exemplo de declaração de uma função:

``` python 
def myFunction(argumento_1, argumento_2, ...):
    
    if argumento_1 > argumento_2:
        
        print(argumento_1, ' é maior que ', argumento_2)
    
    else:
        print(argumento_1, ' não é maior que ', argumento_2)
    
    return(argumento_1 + argumento_2)

```

#### Os argumentos são variáveis que existirão no espaço de definição de uma função.

#### Neste exemplo, podemos ver que os argumentos são avaliados pelos condicionais `if`/ `else` e que a soma de ambos argumentos é finalmente retornada.

#### Se a expressão retornada pelo return for um tipo de dados válido, então podemos trabalhar com esse dado. Vejamos este exemplo.

### Definimos a função anterior:

In [ ]:
def minhafunção(argumento_1, argumento_2):

    if argumento_1 > argumento_2:
        pass 
        #print(argumento_1, ' é maior que ', argumento_2)

    else:
        pass
        #print(argumento_1, ' não é maior que ', argumento_2)

    return(argumento_1 + argumento_2)

minhafunção(-1, 3)

#### Agora a função está no espaço de memória sob o nome de `minhafunção`. Para fazer uma chamada a essa função para que o código dentro dela seja executado, basta enunciar seu nome e entregar os argumentos entre parênteses de forma organizada.

In [ ]:
# Vamos atribuir o valor do resultado desta função a uma variável.
variável_1 = minhafunção(3, 5)
#variável_1 = minhafunção(argumento_1, argumento_2)
variável_1

In [ ]:
# Agora vejamos o que restou na variável_1
print(variável_1)

#### Como podemos ver na função, há chamadas ao print, que imprimem dependendo da avaliação do `if`/`else` o que indicamos em cada corpo condicional, porém o valor que é capturado para operar é o que retorna a instrução `return`.

#### O que o código a seguir faz?

In [ ]:
lista_de_números = [-1, -51, -4, 42, 23, 4, 5, 6, 72, 4, 5]

In [ ]:
somas = []

for número in lista_de_números:
    
    somas.append( minhafunção(8, número + 3) )
somas

#### E o próximo?

In [ ]:
somas = []

for número in lista_de_números:
    if minhafunção(número, 3) < número:
        somas.append(número)
    
    else:
        somas.append( minhafunção(número, 2) ** minhafunção(minhafunção(número, -31), 3) )

In [ ]:
print(somas)

In [ ]:
world = 'computer' 
for i in world:
    print(i)

In [ ]:
replys = []
while True:
    reply = input('Enter text, [type "stop" to quit]: ')
    print(reply)
    if reply == 'stop' or reply == ' ':
        print(" ".join(replys))
        break
        replys.append(replys)

# Seleção e indexação de dados em Pandas

Vamos lembrar algumas formas típicas de acessar os arrays:      
  1. indexing: `arr[2,1]`
  2. slicing: `arr[:,1:10]`
  3. boolean indexing: `arr[arr>0]`
  4. fancy indexing: `arr[[1,7,9],:]`
  
As `Series` e `DataFrames` de Pandas seguem convenções similares.

## Seleção de dados em Series.

* Se lembrarmos que uma `Series` é análoga a um array de uma dimensão e a um dicionário, isso nos permitirá reter melhor a maneira de selecionar os dados.

### `Series` como um dicionário.

* Indexar por nomes ( = chaves em dicionários ).

In [1]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],index = ['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

* Imprimindo os índices `a` e `b`.

In [2]:
data['a':'b']

a    0.25
b    0.50
dtype: float64

* Podemos usar expressões semelhantes aos `dicts` para examinar chaves e valores.

In [3]:
'b' in data

True

In [4]:
'b' in data.index

True

In [5]:
0.25 in data

False

In [6]:
0.25 in data.values

True

In [7]:
0.25 in data.index

False

* As chaves do dicionário:

In [8]:
data.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

* Os pares chave-valor que formam cada item:

In [10]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

* Como em um `dict`, podemos estender uma `Series` definindo uma nova chave e atribuindo a ela um novo valor.

In [11]:
data['a'] = 0
data['e'] = 1.25
data

a    0.00
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

### `Series` como um arranjo de uma dimensão.

* Uma `Series` fornece uma maneira de selecionar dados análoga aos arranjos: é por isso que podemos usar slices, masking e fancy indexing.

* Começando com um slicing explícito.

In [12]:
data['a':'c']

a    0.00
b    0.50
c    0.75
dtype: float64

* Podemos também realizar um slice implícito, considerando as posições relevantes.

In [13]:
data[0:2]

a    0.0
b    0.5
dtype: float64

* Note no exemplo acima que o slicing numérico exclui o valor final, enquanto que o slicing por chave não

* Uma máscara booleana também pode ser aplicada.

In [14]:
data+0.3

a    0.30
b    0.80
c    1.05
d    1.30
e    1.55
dtype: float64

In [15]:
(data > 0.3) & (data < 0.8)

a    False
b     True
c     True
d    False
e    False
dtype: bool

In [16]:
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

* Note no exemplo acima que a condição é aplicada sobre os valores dos series, não sobre os indexes. Contudo, a operação lógica retorna o valor dos índices que, por sua vez, são passadas como parâmetros para o series.

In [17]:
data[['a', 'e']] # fancy indexing

a    0.00
e    1.25
dtype: float64

### Indexers: loc e iloc

* Lembrando: 

    - quando é feito slicing explícito (`data ['a': 'c']`), o índice final é incluído no slice. 
    - por sua vez, quando é feito slicing implícito (`data[0:2]`), o índice final NÃO é incluído.
* Para mitigar esse tipo de confusão, Pandas fornece alguns atributos “indexadores”.

#### O método `loc`: 

 O atributo [loc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html#pandas-dataframe-loc) acessa um grupo de linhas e colunas, identificadas por rótulos ou arranjos booleanos.

In [18]:
data.loc['a']

0.0

In [ ]:
data.loc['a':'c']

#### Método `iloc`: 

 O atributo [iloc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html#pandas-dataframe-iloc) se baseia em um índice local puramente inteiro para seleção de posição. Combina indexing e slicing.

In [19]:
data.iloc[1]

0.5

In [20]:
data.iloc[0:3]

a    0.00
b    0.50
c    0.75
dtype: float64

## Seleção de dados em `DataFrame`.

### DataFrame como um dicionário, construído a partir de listas.

In [21]:
area = pd.Series({'California': 423967, 'Texas': 695662,
'New York': 141297, 'Florida': 170312,'Illinois': 149995})


pop = pd.Series({'California': 38332521, 'Texas': 26448193,
'New York': 19651127, 'Florida': 19552860,'Illinois': 12882135})


data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

* As ``Series`` individuais que formam as colunas do ``DataFrame`` podem ser acessadas analogamente a um dicionário, pelo nome da coluna.

In [22]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

* De maneira equivalente, podemos usar o estilo "atributo" para acessar as colunas chamadas "strings".

In [23]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

* As duas formas são equivalentes.

In [24]:
data.area is data['area']

True

* Levar em consideração que o estilo "atributo" não funciona sempre e em alguns casos mais complexo de se referir. Por exemplo:

    - Se os nomes das colunas não forem strings
    - Se houver nomes que entrem em conflito com algum método de `DataFrame`
    - Nomes de colunas com espaços ou caracteres especiais 
    - Quando for necessário acessar uma series através de uma outra variável


Exemplo: o `DataFrame` tem um método `pop()`, desta forma, `data.pop` apontará para o método e não para a coluna de `data`  
Exemplo: `data['Year of foundation']`  
Exemplo: `for i in data.columns: data[i]`

In [25]:
data.pop is data['pop']

False

* É particularmente importante evitar a atribuição de colunas através de atributos. Por exemplo, usar `data['pop'] = z` ao invés de `data.pop = z`.
* O estilo dicionário pode ser usado para modificar um objeto:

In [26]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [27]:
data['pop_k'] = data['pop'] / 1000
data

              area       pop     density      pop_k
California  423967  38332521   90.413926  38332.521
Texas       695662  26448193   38.018740  26448.193
New York    141297  19651127  139.076746  19651.127
Florida     170312  19552860  114.806121  19552.860
Illinois    149995  12882135   85.883763  12882.135

In [28]:
data['pop_k'] = round(data['pop_k'],0)
data

              area       pop     density    pop_k
California  423967  38332521   90.413926  38333.0
Texas       695662  26448193   38.018740  26448.0
New York    141297  19651127  139.076746  19651.0
Florida     170312  19552860  114.806121  19553.0
Illinois    149995  12882135   85.883763  12882.0

### DataFrame como um array bidimensional.

* Vamos examinar o atributo `values`.

In [29]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01, 3.83330000e+04],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01, 2.64480000e+04],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02, 1.96510000e+04],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02, 1.95530000e+04],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01, 1.28820000e+04]])

* Considerando isso, podemos realizar a analogia e usar muitas operações semelhantes às dos arranjos em um `DataFrame`.

* Como no caso de uma indexação `Series`, indexar um `DataFrame` de forma análoga a um arranjo pode ser um pouco confuso.

* Particularmente, passar um índice simples em um `DataFrame` retorna uma linha.

In [30]:
data[0]

KeyError: ignored

In [31]:
data.iloc[0]

area       4.239670e+05
pop        3.833252e+07
density    9.041393e+01
pop_k      3.833300e+04
Name: California, dtype: float64

* E passar um índice simples retorna uma coluna:

In [32]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

* Por isso, Pandas usa os indexadores `loc` e `iloc`.

* Usando `iloc`, podemos indexar os arranjos subjacentes a um `DataFrame`, como se fosse um arranjo comum, mas o índice e a tag de coluna são mantidos no resultado:

In [33]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

* Da mesma forma, usando `loc`, podemos indexar o arranjo subjacente, mas com o índice de forma explícita e os nomes das colunas.

In [34]:
data.loc[:'New York', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

* Qualquer forma de acesso de um arranjo pode ser usada com esses indexadores.
* Por exemplo, podemos usar `loc` e combiná-lo com masking e fancy indexing:

In [35]:
data.loc[(data.density > 100) & (data.area < 170000), ['pop', 'area']]

               pop    area
New York  19651127  141297

* Qualquer uma dessas formas de indexação pode ser usada para atribuir ou modificar valores:

In [36]:
data.iloc[0, 1] = 90
data

              area       pop     density    pop_k
California  423967        90   90.413926  38333.0
Texas       695662  26448193   38.018740  26448.0
New York    141297  19651127  139.076746  19651.0
Florida     170312  19552860  114.806121  19553.0
Illinois    149995  12882135   85.883763  12882.0

* Note no exemplo anterior que a alteração no valor 'pop' da 'California' não refletiu em um novo valor de 'density'.

#### Algumas convenções adicionais para indexar.

* Em geral, “indexing” se refere a colunas e “slicing”, a linhas:

In [37]:
data['Florida':'Illinois']

            area       pop     density    pop_k
Florida   170312  19552860  114.806121  19553.0
Illinois  149995  12882135   85.883763  12882.0

* Por padrão, “fancy indexing” é realizado de forma explícita e nas colunas.

In [38]:
data[['area','density']]

              area     density
California  423967   90.413926
Texas       695662   38.018740
New York    141297  139.076746
Florida     170312  114.806121
Illinois    149995   85.883763

* Esses slices também podem se referir a linhas pela posição, em vez de índices:

In [39]:
data[1:3]
#data[1:]

            area       pop     density    pop_k
Texas     695662  26448193   38.018740  26448.0
New York  141297  19651127  139.076746  19651.0

* De maneira semelhante, por padrão, as operações de masking também são interpretadas no sentido das linhas:

In [40]:
data[data.density > 100]

            area       pop     density    pop_k
New York  141297  19651127  139.076746  19651.0
Florida   170312  19552860  114.806121  19553.0

## Leitura de arquivos

Até agora vimos a criação de `dataframes` a partir de valores escritos diretamente no código. Contudo, na maioria das vezes os `dataframes` serão criados a partir de dados externos.
O Pandas é capaz de fazer a leitura de vários tipos de arquivos: 
* csv (comma separated values): arquivos txt que contém dados tabulares separados por vírgulas
* tsv (tab separated values): idem ao caso acima, contudo o separador é o caracter 'tab'
* xlsx: arquivos de excel
* e vários outros. Experimente digitar 'pd.read' e depois 'tab'